.content-main {
    padding: 8rem 1rem 12rem;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

#breadcrumbs > ul {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#breadcrumbs > ul {
    height: 1rem;
    margin: -1.5rem 0 .5rem;
    padding: 0;
    font-size: .667rem;
    color: rgba(255, 255, 255, .25);
    text-transform: uppercase;
    width: 100%;
    list-style: none;
}

#breadcrumbs > ul > li {
    display: inline;
}

#breadcrumbs > ul > li > a {
    transition: color 250ms, text-decoration-color 250ms, border-color 250ms;
    color: rgba(255, 255, 255, .5);
}

#article .page-title {
    margin-top: 0;
    word-break: keep-all;
}

#article .note-sm {
    background: transparent;
    color: #ccc;
    font-size: smaller;
    border-left: 1px solid #39393a;
    padding: 1.2rem 1rem 0 1rem;
    margin: 1rem -1rem;
    position: relative;
}

#article .note-sm::before {
    content: "Description";
    font-size: 0.667rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: .025rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .25);
    position: absolute;
    top: 0;
}

@media screen and (min-width: 42em) {
    .columns {
        margin-left: -2rem;
        margin-right: -2rem;
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    contain: content;
    padding-top: 1rem;
    margin-top: 1rem;
    padding-right: 1rem;
}

.columns-1-2 {
    float: left;
    padding-left: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
}

.project-card {
    width: 100%;
    color: rgba(255, 255, 255, .625);
    background-color: #39393a;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0.125rem 0.125rem 1rem rgba(0, 0, 0, 0.2);
    contain: content;
    border-radius: .5rem;
    page-break-inside: avoid;
    transition: transform 500ms ease;
    will-change: transform;
}

.project-card .flip-project {
    display: block;
}

.flip-project:focus {
    outline: none !important;
}

.columns a:hover {
    transition: color 50ms, text-decoration-color 50ms, border-color 50ms;
}

.columns a.no-hover {
    border-bottom: none;
    text-decoration-thickness: unset;
    text-underline-offset: unset;
}

.columns a {
    transition: color 250ms, text-decoration-color 250ms, border-color 250ms;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: .35rem;
    text-decoration-thickness: 2px;
    color: #ccc;
}

.project-card div.project-card-img {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

.project-card div.project-card-img::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}

div.project-card-img > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.project-card-img > a {
    z-index: 1;
    text-decoration-color: rgba(255, 128, 128, 0.5);
    border-color: rgba(255, 128, 128, 0.5);
}

.project-card-img > a > img {
    display: block;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    object-fit: cover;
    object-position: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .033);
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

article.project-card .project-card-title {
    display: block;
    font-size: 1.08rem;
    margin-top: .75rem;
    margin-bottom: .25rem;
    color: inherit;
    text-align: center;
    padding: 0 1rem;
}

h3.project-card-title {
    line-height: 1.5;
}

h3.project-card-title > a {
    text-decoration-color: rgba(255, 128, 128, 0.5);
    border-color: rgba(255, 128, 128, 0.5);
}

a.fill-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-bottom: none;
    text-decoration-thickness: unset;
    text-underline-offset: unset;
}

.columns:after {
    content: "";
    display: table;
    clear: both;
}

article.project-card:hover {
    transform: translateY(-0.25rem);
    transition: transform 250ms ease;
}

@media screen and (min-width: 42em) {
    .columns-1-2 {
        width: 50%;
    }
}

@media screen and (min-width: 42em) {
    .content-main  {
        max-width: 42rem;
    }
}

@media screen and (min-width: 54em) {
    .content-main {
        max-width: 48rem;
    }
}

@media screen and (min-width: 64em) {
    .content-main  {
        padding-left: 1rem;
        margin-left: 24rem;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 86em) {
    .content-main  {
        padding-top: 9rem;
        margin-left: 25rem;
        margin-right: 4rem;
        max-width: 54rem;
        background-color: #2c2c2d;
    }
}

@media screen and (min-width: 86em) {
    .content-main h1{
        font-size: 2.4rem;
        line-height: 1.25;
    }
}