footer .footer-content {
    -webkit-font-smoothing: antialiased;
    display: block;
}

footer {
    margin-bottom: 2rem;
}

.footer-content {
    padding-left: 1.5rem;
    min-height: 100vh;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    padding: 8rem 1rem 12rem;
}

@media screen and (min-width: 42em) {
    .footer-content {
        max-width: 42rem;
    }
}

@media screen and (min-width: 54em) {
    .footer-content {
        max-width: 48rem;
    }
}

@media screen and (min-width: 64em) {
    .footer-content {
        padding-left: 1rem;
        margin-left: 24rem;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 86em) {
    .footer-content {
        padding-top: 9rem;
        margin-left: 25rem;
        margin-right: 4rem;
        max-width: 54rem;
    }
}

.footer-content {
    padding-left: 1.5rem;
    min-height: 100vh;
}

.footer-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(255, 255, 255, .5);
    text-align: center;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 2rem;
}

.footer-content hr {
    border: 0;
    margin: 1rem 0;
    border-top: 1px solid #39393a;
}

.footer-content p > small > a { 
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: .35rem;
    text-decoration-thickness: 2px;
    transition: color 250ms, text-decoration-color 250ms, border-color 250ms;
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 128, 128, 0.5);
    text-decoration-color: rgba(255, 128, 128, 0.5); 
}

.footer-content p > small > a:hover { 
    transition: color 50ms, text-decoration-color 50ms, border-color 50ms;
    text-decoration-color: rgb(255, 128, 128);
    border-color: rgb(255, 128, 128);
}