#header {
    position: static;
    text-align: center;
}

#header .sidebar-sticky {
    height: 100%;
    padding-top: 5%;
    position: fixed;
    z-index: 3;
    max-width: 21rem;
    padding: 1.5rem;
    contain: content;
}

#header a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
    text-underline-offset: .35rem;
}

#header a {
    touch-action: manipulation;
    transition: color 250ms, text-decoration-color 250ms, border-color 250ms;
}

#header .sidebar-about .sidebar-title > h2 {
    margin: 0;
    padding-bottom: .5rem;
}

#header .sidebar-title > h2 {
    font-size: 2rem;
    line-height: 1.3;
}

#header a:hover {
    border-bottom-color: #fff;
    text-decoration-color: #fff;
    transition: color 50ms, text-decoration-color 50ms, border-color 50ms;
}

#header .sidebar-about .sidebar-title:hover::after {
    border-color: #fff;
    transition: border-color 50ms;
}

#header .sidebar-about .sidebar-title::after {
    content: '';
    display: block;
    border-bottom: 2px solid;
    margin: 0 auto .5rem;
    width: 9rem;
    border-color: rgba(255, 255, 255, 0.2);
    transition: border-color 250ms;
}

#header .sidebar-sticky .sidebar-nav {
    font-weight: 700;
}

#header .sidebar-sticky .sidebar-nav ul {
    padding-left: 0;
    margin-bottom: 1rem;
}

#header .sidebar-nav .list-wrapper {
    display: flex;
    width: 18rem;
    text-align: left;
}

#header .sidebar-nav .list-wrapper .sidebar-nav-item {
    display: inline-block;
    width: 100%;
    padding: .25rem 0;
    margin-bottom: .5rem;
    font-size: 1.08rem;
    line-height: 1.6;
}

@supports (text-decoration-thickness: initial) and (text-underline-offset: initial) {
    .list-wrapper a {
        text-decoration: underline;
        text-decoration-style: solid;
        text-underline-offset: .35rem;
        text-decoration-thickness: 2px;
    }
}

.list-wrapper a { 
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

#header .sidebar-sticky .sidebar-social ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#header .sidebar-sticky .sidebar-social ul > li {
    float: left;
}

#header .sidebar-sticky .sidebar-social li > .sidebar-social-icon{
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    width: 3rem;
    height: 4rem;
    padding: .5rem 0;
    line-height: 3rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}


