#top_navbar {
    z-index: 3;
    background-color: #2c2c2d;
    // background-color: #ffe0b2;
}

.flexd-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    transition: background-color 1s, border-color 1s;
}

#top_navbar .top-navbar-content {
    position: relative;
    padding-top: 0;
    padding-bottom:  0;
    min-height: 0;
    max-height: 5rem;
}

.top-navbar-content {
    padding: 8rem 1rem 12rem;
    display:flex;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}

#top_navbar .top-navbar-content::before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 6rem);
    height: 5rem;
    left: 3.2rem;
    margin: auto;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
    z-index: -1;
    bottom: 1px;
}

.nav-button-left-bar {
    margin: 0 -1rem;
    background-color: white;
    background-color: #2c2c2d;;
    height: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 1s, border-color 1s;
}

#dark-mode {
    font-size: 1.25rem;
}

button.nav-button {
    cursor: pointer;
}

.nav-button-left-bar .nav-button { 
    background: none;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.25rem;
    height: 5rem;
    color: rgba(255, 255, 255, .25);
    border-right: 1px solid #39393a;
    margin-left: -1px;
}

.nav-button-left-bar button {
    transition: background-color 1s, border-color 1s;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    touch-action: manipulation;
}

button.nav-button:hover, button.nav-button:focus {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.05));
}

#top_navbar .top-navbar-content .search-bar {
    align-items: center;
    padding-left: 19px;
    width: auto;
}

#searchbar-input {
    height: 80px;
    padding-left: 3rem;
    padding-right :19rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    touch-action: manipulation;
    font-size: 1.2rem;
    line-height: 1.75;
    border: none;
    background-color: #2c2c2d;
    color:#ccc;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: Pretendard;
    border-right: 1px solid #39393a;
}

#searchbar-input:focus {
    box-shadow: 0 0 0 3px rgba(255, 128, 128, 0.5);
    outline: 0;
}

:focus {
    outline-color: rgba(255, 128, 128) !important;
}

.nav-button-right-bar {
    display: flex;
    gap: 0.75rem;
    height: 24px;
    transition: background-color 1s, border-color 1s;
    margin-left: 0.75rem;
}

.nav-button-right-bar .nav-button-items {
    -webkit-appearance: button;
    background-color: initial;
    background-image: none;
    border-width: 0;
    border-style: solid;
    border-color: rgb(102 102 102 / 1);
    color: rgb(178, 178, 178, 1);
    font-size: 1.1rem;
    font-family: Pretendard;
    padding: 0px;
}

@media (hover: hover) and (pointer: fine) {
    .nav-button-items:hover {
        color: rgb(255, 255, 255, 1);
    }
}

@media screen and (min-width: 672px) {
    .top-navbar-content {
        max-width: 42rem;
    }
}

@media screen and (min-width: 864px) {
    .top-navbar-content {
        max-width: 48rem;
    }
}

@media screen and (min-width: 1024px) {
    .top-navbar-content {
        padding-left: 1rem;
        margin-left: 24rem;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 1376px) {
    .top-navbar-content {
        padding-top: 9rem;
        margin-left: 25rem;
        margin-right: 4rem;
        max-width: 54rem;
    }
}


