.Releases-title {
    margin-bottom: 40px;
}

.R-note {
    font-size: 1rem;
    background: transparent;
    padding: 1.2rem 1rem 0 1rem;
    margin: 1rem -1rem;
    position: relative;
    transition: background-color 1s, border-color 1s;
}

.R-note::before {
    content: "Dec, 2024";
    font-size: 0.667rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: .025rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .25);
    position: absolute;
    top: 0;
}

p > ul {
    list-style-type: disc; 
    margin-left: 20px; 
}