#head.namu_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#head.namu_head > h3 {
    margin-top: 24px;
    margin-left: 60px;
}

#head.namu_head .name_head {
    display: flex;
}

#head.namu_head .name_head > p {
    margin: 0;
    margin-right: 104px;
    font-size: 13px;
}

.category {
    display: block;
    width: 860px;
    height: 30px;
    margin: 46px auto 0;
    position: relative;
}

.writer_title {
    width: 860px;
    margin: 18px auto 17px;
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.textarea {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 30px;
    color: #202020;
    resize: none;
    outline: 0 none;
    line-height: 40px;
    overflow: hidden;
    letter-spacing: -0.4px;
}

.content-footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-color: #f5f5f5;
    z-index: 1;
    overflow: hidden;
    min-width: 944px;
}

.content-footer .btn {
    width: 88px;
    margin: 0 4px;
    margin-left: 1350px;
    line-height: 38px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
    transition: border-color .2s, color .2s, background-color .2s;
    font-size: 13px;
    padding: 0;
    cursor: pointer;
}

.content-footer .btn:not([disabled]):hover, .content-footer .btn:not([disabled]):focus {
    border-color: #f54;
    color: #fff;
    background-color: #f54;
}

.btn_category {
    width: 170px;
    height: 30px;
    border: 1px solid #e9e9e9;
    margin: 0 1px 0 0;
    padding: 0 5px;
    cursor: pointer;
}


