@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon/fonts/icomoon.eot?y9hcb1');
  src:  url('../icomoon/fonts/icomoon.eot?y9hcb1#iefix') format('embedded-opentype'),
    url('../icomoon/fonts/icomoon.ttf?y9hcb1') format('truetype'),
    url('../icomoon/fonts/icomoon.woff?y9hcb1') format('woff'),
    url('../icomoon/fonts/icomoon.svg?y9hcb1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  text-transform: none;
  font-weight: 400;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
